blurhash==1.1.5
certifi
charset-normalizer==3.4.4
decorator==5.2.1
feedparser
idna==3.11
mastodon-py==2.1.4
python-dateutil==2.9.0.post0
python-magic==0.4.27
requests
sgmllib3k==1.0.0
six==1.17.0
urllib3
